# Build directories
build/
build-release/
cmake-build-*/
out/

# IDE & tool caches
.idea/
.vscode/
.cache/
*.swp
*.swo
*~

# Compile commands (generated)
compile_commands.json

# OS
.DS_Store
Thumbs.db

# Data
benchmarking/results/compiled/**
*.csv
*.parquet
*.so
tests/data/iris

# Python
**/__pycache__/**
