useDynLib(ribex, .registration = TRUE)

export(create_session)
export(default_plugin_paths)
export(eval_file)
export(eval_ibex)
export(knitr_session)
export(register_knitr_engines)
export(reset_session)
export(session_eval)
export(session_eval_file)
