useDynLib(ibex, .registration = TRUE)

export(create_session)
export(default_plugin_paths)
export(eval_file)
export(eval_ibex)
export(as_timeframe)
export(ibex_default_session)
export(ibex_reset_default_session)
export(ibex_read_parquet)
export(ibex_tbl)
export(knitr_session)
export(register_knitr_engines)
export(reset_session)
export(resample)
export(rolling_count)
export(rolling_ewma)
export(rolling_first)
export(rolling_kurtosis)
export(rolling_last)
export(rolling_max)
export(rolling_mean)
export(rolling_median)
export(rolling_min)
export(rolling_quantile)
export(rolling_skew)
export(rolling_std)
export(rolling_sum)
export(session_eval)
export(session_eval_file)
export(session_table_schema)
export(window)
export(window_end)
export(window_start)

S3method(anti_join,ibex_tbl)
S3method(arrange,ibex_tbl)
S3method(as.data.frame,ibex_tbl)
S3method(as_tibble,ibex_tbl)
S3method(collect,ibex_tbl)
S3method(compute,ibex_tbl)
S3method(count,ibex_tbl)
S3method(cross_join,ibex_tbl)
S3method(dim,ibex_tbl)
S3method(distinct,ibex_tbl)
S3method(filter,ibex_tbl)
S3method(full_join,ibex_tbl)
S3method(group_by,ibex_tbl)
S3method(group_vars,ibex_tbl)
S3method(head,ibex_tbl)
S3method(inner_join,ibex_tbl)
S3method(left_join,ibex_tbl)
S3method(mutate,ibex_tbl)
S3method(names,ibex_tbl)
S3method(print,ibex_tbl)
S3method(pull,ibex_tbl)
S3method(relocate,ibex_tbl)
S3method(rename,ibex_tbl)
S3method(right_join,ibex_tbl)
S3method(select,ibex_tbl)
S3method(semi_join,ibex_tbl)
S3method(show_query,ibex_tbl)
S3method(slice_head,ibex_tbl)
S3method(slice_tail,ibex_tbl)
S3method(summarise,ibex_tbl)
S3method(tally,ibex_tbl)
S3method(transmute,ibex_tbl)
S3method(ungroup,ibex_tbl)
S3method(as_timeframe,ibex_tbl)
S3method(resample,ibex_tbl)
S3method(window,ibex_tbl)

importFrom(dplyr,anti_join)
importFrom(dplyr,arrange)
importFrom(dplyr,collect)
importFrom(dplyr,compute)
importFrom(dplyr,count)
importFrom(dplyr,cross_join)
importFrom(dplyr,distinct)
importFrom(dplyr,filter)
importFrom(dplyr,full_join)
importFrom(dplyr,group_by)
importFrom(dplyr,group_vars)
importFrom(dplyr,inner_join)
importFrom(dplyr,left_join)
importFrom(dplyr,mutate)
importFrom(dplyr,pull)
importFrom(dplyr,relocate)
importFrom(dplyr,rename)
importFrom(dplyr,right_join)
importFrom(dplyr,select)
importFrom(dplyr,semi_join)
importFrom(dplyr,show_query)
importFrom(dplyr,slice_head)
importFrom(dplyr,slice_tail)
importFrom(dplyr,summarise)
importFrom(dplyr,tally)
importFrom(dplyr,transmute)
importFrom(dplyr,ungroup)
importFrom(tibble,as_tibble)
importFrom(utils,head)
importFrom(utils,capture.output)
importFrom(utils,tail)
importFrom(rlang,.data)
